@import "../App/App";

.article {
  height: 100vh;
  margin: 0 30px;
  color: $fontColorDark;
  .titleSection {
    margin-top: 40px;
    margin-bottom: 25px;

    .title {

    }
    .location {
      color: $fontColorLight;
    }
  }
  .text {

  }
  .quote {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 375px;
    border-left: 3px solid $navBg;
    color: $fontColorLight;
    padding-left: 16px;
    padding-bottom: 5px;
    margin-left: 30px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  }
}
